body {
    /*background: url("background.jpg") no-repeat center fixed;*/
    background-color: #d9d9d9;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	text-align: center;
	margin-top: 10%;
	font-size: 400%;
	font-weight: bold;
	font-family: "Copperplate"
}

#main-panel {
	border-width: 1px;
	border-radius: 10px;
	border-color: black;
    margin-top: 8%;
    margin-left: 10%;
    background-color: rgba(206, 11, 16, 1.0);
    opacity: :0.7;
    width: 80%;
}

#panel-container {
	border-width: 1px;
	border-radius: 10px;
	border-color: black;
    margin-top: 4%;
    margin-left: 10%;
    background-color: rgba(206, 11, 16, 1.0);
    width: 80%;
    margin-bottom: 4%;
}

.link {
	width:55%;
	margin-bottom:5%;
}

.panel-element {
	font-size: 125%;
	color: white;
	float:left;
	margin-left: 11%;
}

#cuizine-dropdown select {
	color:black;
	height: 32px;
	width: 150px;
}

.buttons {
    width: 40%;
    margin: 0 auto;
}

.info {
	width:80%;
	margin-left:18%;
	margin-bottom:5%;
}

#query-results {
	text-align:center;
	background-color: rgba(0,0,0,0);
	display: none;
    margin-left: 20%;
    width: 40%;
    border:none;
}

.query-result {
	border-radius: 20px;
	text-align:center;
	opacity: :0.7;
	background-color: rgba(206, 11, 16, 1.0);
    border:none;
    margin-bottom:5%;

}

.img-circle {
    float: left;
    padding: 10px;
    width:25%;
	height:25%;
    border-radius:20%;
}

.available-image {
	width:6%;
	height:6%;
}


#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1340px;
}

#scrollToTop{
    opacity: 0.7;
	width:80px; 
	height:120px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position: fixed;
    display:none;
	top:350px;
	right:40px;
	background: url('upp.png');
    background-size: 80px 60px;
}
#scrollToTop:hover{
	text-decoration:none;
}

#map-canvas {
	width: 200px; 
	height: 160px;
	margin-top: 10px;
    padding: 10px;
	float:right;
	padding-right: 20px
}

#modal-logo {
	float:left;
	padding:0px;
	border:1px solid #d9d9d9;
	margin-left: 10%;
}

.list-info {
	clear: left;
	max-width:80%;
	padding-top: 10px;
	margin-left:1%;
	margin-right:50%;
}

.modal-content {
	background-color: #efefef !important;
}

.modal-section {
	border-color: #333;
}

.modal-title {
	font-size: 24px;
	color: #333333;
	font-family: Century Gothic, sans-serif;
}